/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage
{
    font-family: Noto Sans, sans-serif;
}

.cinnamon-link
{
    color: #0000ff;
    text-decoration: underline;
}

.cinnamon-link:hover
{
    color: #0000e0;
}

.label-shadow
{
    color: rgba(0, 0, 0, 0.5);
}

StScrollView.vfade
{
    -st-vfade-offset: 0px;
}

StScrollView StScrollBar
{
    min-width: 17px;
    min-height: 17px;
}

StScrollBar
{
    padding: 0px;
}

StScrollBar StBin#trough
{
    background-color: rgba(0, 0, 0, 0.2);
}

StScrollBar StButton#hhandle,
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    border-image: url('outset-shadow.png') 3;
}

.menu-applications-box StButton#vhandle
{
    background: url('handle-vert.png') no-repeat center center;
}

.menu-applications-box StButton#vhandle:hover
{
    background: url('handle-vert.png') no-repeat center center;
}


#Tooltip
{
    border: 1px solid rgba(57, 156, 238, 1.0);
    border-radius: 0px;
    padding: 2px 12px;
    background-gradient-end: rgba(57, 156, 238, 0.9);
    background-gradient-start: rgba(57, 156, 238, 0.9);
    background-gradient-direction: vertical;
    color: #fff;
    font-size: 8.5pt;
    font-weight: normal;
    text-align: center;
}

/* ===================================================================
 * Shared button properties 
 * ===================================================================*/

.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button
{
    color: black;
    border-image: url('buttons/button.png') 5;
    font-size: 8.5pt;
    font-weight: normal;
    text-align: center;
}

.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover
{
    border-image: url('buttons/button-hover.png') 5;
}

.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus
{
    border-image: url('buttons/button-focused.png') 5;
}

.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed
{
    border-image: url('buttons/button-pressed.png') 5;
}

/* ===================================================================
 * User Applet
 * ===================================================================*/

.user-box
{
    padding: .4em 1.5em;
    padding-bottom: .6em;
    spacing: 10px;
}

.user-icon
{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
    padding: 0;
    border-radius: 0;
    padding: 0;
}

.user-label
{
    color: #000;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
}

/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/

.popup-menu-boxpointer
{
    -arrow-background-color: transparent;
    -arrow-border-color: transparent;
    -boxpointer-gap: 0px;
    -arrow-border-radius: 16px;
    -arrow-base: 16px;
    -arrow-rise: -1px;
    -arrow-border-width: 0px;
}

/* Cinnamon 3.2 fix */
.popup-menu,
.menu
{
    border: solid 4px black;
    border-image: url('popupmenu.png') 8 8 8 8;
    color: #000;
    font-size: 9pt;
}

.popup-submenu-menu-item:open
{
    background-color: #4c4c4c;
}

.popup-sub-menu
{
    background-color: transparent;
}

.popup-sub-menu .popup-menu-item:ltr
{
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl
{
    padding-left: 0em;
}

.popup-sub-menu StScrollBar
{
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough
{
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle
{
    background-color: #4c4c4c;
    border-width: 0px;
}

.popup-combo-menu
{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em 0em;
    color: #000;
    font-size: 10.5pt;
    border: 1px solid #00A7FB;
    border-radius: 0px 0px 8px 0px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content
{
    padding: 1em 0;
}

.popup-menu-item
{
    padding: .4em 1.75em;
    spacing: 1em;
    border: 2px solid transparent;
}

.popup-menu-item:active
{
    background-color: #00A7FB;
}

.popup-menu-item:insensitive
{
    color: #9f9f9f;
}

.popup-image-menu-item
{}

.popup-combobox-item
{
    spacing: 1em;
}

.popup-separator-menu-item
{
    -gradient-height: 1px;
    -gradient-start: rgba(0, 0, 0, 0);
    -gradient-end: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.popup-alternating-menu-item:alternate
{
    font-weight: bold;
}

.popup-slider-menu-item
{
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #666666;
    -slider-border-color: #555555;
    -slider-active-background-color: #00A7FB;
    -slider-active-border-color: #DDDDDD;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item
{
    spacing: .5em;
}

.popup-inactive-menu-item
{
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item
{
    font-weight: bold;
}

.popup-menu-icon
{
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch
{
    width: 52px;
    height: 18px;
}

.toggle-switch-us,
.toggle-switch-intl
{
    background-image: url("checkbox-off.png");
}

.toggle-switch-us:checked,
.toggle-switch-intl:checked
{
    background-image: url("checkbox.png");
}

.nm-menu-item-icons
{
    spacing: .5em;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/

#panel
{
    color: #ffffff;
    text-shadow: black 0px 1px 1px;
    background-color: #013c6b;
    font-size: 9pt;
    border-image: url('panel.png') 80 0 0 0;
    font-weight: normal;
    height: 30px;
    outline: 1px rgba(0, 0, 0, 1);
}

#panelLeft,
#panelCenter
{
    spacing: 4px;
}

#panelRight
{
    border-image: url('panel-right.png') 7 0 0 0;
    color: #000;
    text-shadow: #444 0px 1px 1px;
}

#panelLeft .applet-box:first-child
{
    border-image: url('menu-box.png') 7 0 0 0;
    border-right-width: 10px;
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
}

#panelLeft .applet-box:first-child:hover
{
    border-image: url('menu-hover.png') 7 0 0 0;
}

#panelLeft .applet-box:first-child:active
{
    border-image: url('menu-active.png') 7 0 0 0;
}

#panelLeft:dnd
{
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 0, 0, 0.05);
    background-gradient-end: rgba(255, 0, 0, 0.4);
}

#panelCenter:dnd
{
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 255, 0, 0.05);
    background-gradient-end: rgba(0, 255, 0, 0.4);
}

#panelRight:dnd
{
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 255, 0.05);
    background-gradient-end: rgba(0, 0, 255, 0.4);
}

#panelLeft:ltr
{
    padding-right: 4px;
}

#panelLeft:rtl
{
    padding-left: 4px;
}

#panelRight:ltr
{
    padding-left: 0px;
    spacing: 0px;
}

#panelRight:rtl
{
    padding-right: 0px;
    spacing: 0px;
}

.panel-top
{}

.panel-bottom
{}

.panel-status-button,
.panel-button
{
    -natural-hpadding: 5px;
    -minimum-hpadding: 5px;
    font-weight: bold;
    border: 1px solid transparent;
    transition-duration: 150;
}

.panel-status-button:hover,
.panel-button:hover
{
    background-color: rgba(25, 25, 25, 0.1);
    border-radius: 0px;
    transition-duration: 100;
}

.panel-status-button:active
{
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(30, 30, 30, 1);
    background-gradient-end: rgba(50, 50, 50, 1);
}

.system-status-icon
{
    padding-left: 0px;
    padding-right: 0px;
    spacing: 0px;
    margin: 0px;
}

#appMenu
{
    spacing: 4px;
}

.panel-button #appMenuIcon
{
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon
{
    app-icon-bottom-clip: 2px;
}

.panel-button
{
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: bold;
    color: rgba(200, 200, 200, 1);
    transition-duration: 100;
}

.panel-button:hover
{
    color: white;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus
{
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(30, 30, 30, 1);
    background-gradient-end: rgba(50, 50, 50, 1);
}

.panel-button:active>.system-status-icon,
.panel-button:checked>.system-status-icon,
.panel-button:focus>.system-status-icon
{
    icon-shadow: black 0px 2px 2px;
}

.panel-menu
{}

.popup-menu-item-dot
{}

.system-status-icon
{
    icon-size: 1.14em;
}

/* ===================================================================
 * Overview 
 * ===================================================================*/

#overview
{
    spacing: 12px;
}

.window-caption
{
    background-color: black;
    border-radius: 0px;
    color: white;
    spacing: 25px;
}

.window-caption#selected
{
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    spacing: 25px;
}

.workspace-controls
{
    visible-height: 32px;
    /* Amount visible before hovering */
}

.workspace-thumbnails-background
{
    border: 1px #399cee;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.workspace-thumbnails-background:rtl
{
    border-right: 1px;
    border-left: 0px;
    border-radius: 9px 9px 0px 0px;
}

.workspace-thumbnails
{
    spacing: 14px;
}

.workspace-add-button
{
    background-image: url("add-workspace.png");
    height: 200px;
    width: 35px;
    transition-duration: 300;
}

.workspace-add-button:hover
{
    background-image: url("add-workspace-hover.png");
    transition-duration: 300;
}

.workspace-close-button
{
    background-image: url("close.png");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:hover,
.window-close:active
{
    background-image: url("close-hover.png");
}


.workspace-thumbnail-indicator
{
    outline: 2px solid white;
    border: 1px solid #888;
}

.window-caption
{
    background-color: #000;
    border-radius: 0px;
    font-size: 9pt;
    padding: 2px 8px;
    -cinnamon-caption-spacing: 4px;
}

.window-close
{
    background-image: url("close.png");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:rtl
{
    -st-background-image-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.window-close-area
{
    background-image: url("trash-icon.png");
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #399cee;
    border-bottom: 0px;
    border-radius: 0px;
    height: 120px;
    width: 400px;
}

.icon-grid
{
    spacing: 36px;
    -cinnamon-grid-item-size: 118px;
}

.icon-grid .overview-icon
{
    icon-size: 96px;
}

.overview-icon
{
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0, 0, 0, 0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

.expo-background
{
    background-color: rgba(0, 0, 0, 0.2);
}

.workspace-overview-background-shade
{
    background-color: rgba(0, 0, 0, 0.4);
}

.expo-workspace-thumbnail-frame
{
    border: 1px, black;
    background-color: black;
}

.expo-workspace-thumbnail-frame#active
{
    border: 1px, #399cee;
    background-color: #399cee;
}

/* ===================================================================
* Desklets (desklet.js)
* ===================================================================*/
.desklet
{
    color: #eee;
}

.desklet-with-borders
{
    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
    color: #eee;
}

.desklet-with-borders-and-header
{
    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    color: #eee;
    border-radius-bottomleft: 0px;
    border-radius-bottomright: 0px;
}

.desklet-header
{
    border-radius-topleft: 0px;
    border-radius-topright: 0px;
    font-size: 10.5pt;

    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
    color: #eee;
    padding: 6px;
}

.desklet-drag-placeholder
{
    background-color: rgba(57, 156, 238, .31);
}


.clock-desklet-label
{}

.photoframe-box
{
    padding: 6px;
    border: 1px solid #444;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;

}

.xkcd-box
{
    padding: 0px;
    border: none;
    background-color: none;
    border-radius: 0px;
}

/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label
{}


/* ===================================================================
 * Looking Glass 
 * ===================================================================*/

#LookingGlassDialog
{
    background-gradient-direction: vertical;
    background-gradient-start: #000000;
    background-gradient-end: #2f343d;
    spacing: 4px;
    padding: 4px;
    border: 2px solid #399cee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    color: #fff;
}

#LookingGlassDialog>#Toolbar
{
    border: 2px solid #399cee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 4px;
}

#LookingGlassDialog .labels
{
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab
{
    padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover
{
    color: #FFFFFF;
}

#LookingGlassDialog .notebook-tab:selected
{
    background-color: #399cee;
    border-radius: 0px;
    color: #000;
}

#LookingGlassDialog .lg-inspector-title
{
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
    color: #cccccc;
}

.lg-dialog StEntry
{
    color: #cccccc;
    selection-background-color: #cccccc;
    selected-color: black;
}

.lg-obj-inspector-title
{
    spacing: 4px;
}

.lg-obj-inspector-button
{
    border: 1px solid #cccccc;
    padding: 4px;
    border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
    border: 1px solid #ffffff;
}

.lg-dialog .cinnamon-link
{
    color: #cccccc;
}

.lg-dialog .cinnamon-link:hover
{
    color: #ffffff;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
    spacing: 4px;
}

#lookingGlassExtensions
{
    padding: 4px;
}

.lg-extension-list
{
    padding: 4px;
    spacing: 6px;
}

.lg-extension
{
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name
{
    font-weight: bold;
}

.lg-extension-meta
{
    spacing: 6px;
}

#LookingGlassPropertyInspector
{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border: 1px solid #333;
    padding: 6px;
    color: #B8FF66;
}

/* ===================================================================
 * Date applet 
 * ===================================================================*/

.calendar
{
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

/*this and calendar-events-* copied from new Mint-Y and tweaked*/
.calendar-main-box
{
    margin: 0 .8em .5em .8em;
}

.calendar-events-main-box
{
    height: 300px;
    margin-right: .5em;
    padding: .5em;
    min-width: 350px;
    border: 1px solid #bbbfc5;
    background-color: #ebebff;
}

/*

*/
.calendar-events-no-events-button
{
    margin: 6px 0 6px 0;
    padding: 6px;
}

.calendar-events-no-events-button:hover
{
    background-color: #7284b3;
}

.calendar-events-no-events-button:hover .calendar-events-no-events-icon,
.calendar-events-no-events-button:hover .calendar-events-no-events-label
{
    color: #ffffff;
}

.calendar-events-no-events-icon,
.calendar-events-no-events-label
{
    font-weight: bold;
    color: rgba(16, 20, 55, 0.87);
    text-align: center;
}

.calendar-change-month-back
{
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.calendar-change-month-back:rtl
{
    background-image: url("calendar-arrow-right.svg");
}

/*month/year left arrow*/
.calendar-change-month-back:hover
{
    background-color: rgba(96, 96, 96, 0.5);
}

.calendar-change-month-back:active
{
    background-color: rgba(255, 255, 255, 0.5);
}

.calendar-change-month-forward
{
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.calendar-month-label
{
    color: #888;
    font-size: 7.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}


/*calendar-events-* copied from new Mint-Y and tweaked*/
.calendar-events-date-label
{
    padding: .1em .1em .5em .1em;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-align: center;
}

.calendar-events-event-container
{
    padding: 0;
}

.calendar-event-button
{
    border: 1px solid rgba(0, 0, 0, 0);
}

.calendar-event-button .calendar-event-time-past
{
    color: rgba(0, 0, 0, 0.27);
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}

.calendar-event-button .calendar-event-time-present
{
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}

.calendar-event-button .calendar-event-time-present:all-day
{
    color: #46506a;
}

.calendar-event-button .calendar-event-time-future
{
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-align: left;
    margin-bottom: .2em;
}

.calendar-event-button .calendar-event-summary
{
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    width: 200px;
}

.calendar-event-button .calendar-event-countdown
{
    text-align: right;
    margin-bottom: .6em;
    color: rgba(0, 0, 0, 0.87);
}

.calendar-event-button .calendar-event-countdown:soon
{
    font-weight: bold;
}

.calendar-event-button .calendar-event-countdown:imminent
{
    font-weight: bold;
    color: #F27835;
}

.calendar-event-button .calendar-event-countdown:current
{
    font-weight: bold;
    color: #46506a;
}

.calendar-event-button:hover
{
    background-color: #7284b3;
    border: 1px solid #c0c5bb;
}

.calendar-event-button:hover .calendar-event-time-past,
.calendar-event-button:hover .calendar-event-time-present,
.calendar-event-button:hover .calendar-event-time-future,
.calendar-event-button:hover .calendar-event-summary
{
    color: #ffffff;
}

.calendar-event-button:hover .calendar-event-countdown
{
    text-align: right;
    margin-bottom: .6em;
    color: #ffffff;
}

.calendar-event-button:hover .calendar-event-countdown:soon
{
    font-weight: bold;
}

.calendar-event-button:hover .calendar-event-countdown:imminent
{
    font-weight: bold;
}

.calendar-event-button:hover .calendar-event-countdown:current
{
    font-weight: bold;
}

.calendar-event-color-strip
{
    width: 2px;
}

/**/

/*


.calendar-today-home-button {
  padding: 6px; }

.calendar-today-day-label {
  font-size: 1.75em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-align: center;
  padding-bottom: .1em; }

.calendar-today-date-label {
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-align: center; }

.calendar-today-home-button-enabled {
  padding: 6px; }
.calendar-today-home-button-enabled:hover {
background-color: #92b372; }
.calendar-today-home-button-enabled:hover .calendar-today-day-label {
    color: #ffffff; }
.calendar-today-home-button-enabled:hover .calendar-today-date-label {
    color: #ffffff; }
*/

.calendar-change-month-forward:rtl
{
    background-image: url("calendar-arrow-left.svg");
}

/*month/year right arrow*/
.calendar-change-month-forward:hover
{
    background-color: rgba(96, 96, 96, 0.5);
}

.calendar-change-month-forward:active
{
    background-color: rgba(255, 255, 255, 0.5);
}

/*day/date header*/
.datemenu-date-label
{
    padding: .4em 1.75em;
    font-size: 10.5pt;
    color: #444;
}

.calendar-day-event-dot-box
{
    margin-top: 22px;
    max-rows: 1;
}

.calendar-day-event-dot
{
    margin: 1px;
    border-radius: 2px;
    width: 4px;
    height: 4px;
}

.calendar-day-base
{
    font-size:
        /*7.5pt*/
        1em;
    /*fixes event dots not fully visible*/
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover
{
    color: #fff;
    background-color: #399cee;
}

.calendar-day-base:active
{}

/*day of week*/
.calendar-day-heading
{
    color: #888;
    padding-top: 1em;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day
{
    background-color: #f8f8f8;
    color: #444;
    border-top-width: 0;
    border-left-width: 0;
}

.calendar-day-top
{}

.calendar-day-left
{}

.calendar-work-day
{}

.calendar-nonwork-day
{
    background-color: #efefef;
    color: #444;
}

.calendar-today
{
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(57, 156, 238, 1);
    border-radius: 2px;
}

.calendar-not-today,
.calendar-other-month-day
{
    color: #888;
}

.calendar-not-today:selected
{}

.calendar-not-today:selected:hover
{}

.calendar-other-month-day:hover
{}

.calendar-day-with-events
{
    font-weight: bold;
    color: #399cee;
}

.calendar-week-number
{
    background-color: #fff;
    color: #888;
}

/* ===================================================================
 * Notifications
 * ===================================================================*/

#notification
{

    border-radius: 6px;
    font-size: 8.5pt;
    background-color: #ffffe1;
    border: 1px solid #000;
    padding: 6px 6px 6px 6px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 19px;
    margin-from-top-edge-of-screen: 30px;
    width: 27em;
    color: black;
}

#notification.multi-line-notification
{
    padding-bottom: 8px;
    color: black;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
    taken into account during allocation, so its height ends up being limited by the height
    of the content in the other rows. To avoid showing a stretched image, we set the minimum
    height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image
{
    min-height: 159px;
    color: black;
}

#notification-scrollview
{
    max-height: 10em;
}

#notification-scrollview>.top-shadow,
#notification-scrollview>.bottom-shadow
{
    height: 1em;
}

#notification-scrollview:ltr>StScrollBar
{
    padding-left: 6px;
}

#notification-scrollview:rtl>StScrollBar
{
    padding-right: 6px;
}

#notification-body
{
    spacing: 5px;
}

#notification-actions
{
    spacing: 10px;
}

.notification-button
{
    border-radius: 18px;
    font-size: 11pt;
    padding: 4px 42px 5px;
}

.notification-button:focus
{
    padding: 3px 41px 4px;
}

.notification-icon-button
{
    border-radius: 5px;
    padding: 5px;
}

.notification-icon-button:focus
{
    padding: 4px;
}

.notification-icon-button>StIcon
{
    icon-size: 36px;
}

.hotplug-transient-box
{
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item
{
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 10.5pt;
}

.hotplug-notification-item:focus
{
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon
{
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box
{
    spacing: 8px;
}

.hotplug-resident-mount
{
    spacing: 8px;
    border-radius: 4px;
    color: #ccc;
}

.hotplug-resident-mount:hover
{
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 255, 255, 0.1);
    background-gradient-end: rgba(255, 255, 255, 0);
    color: #fff;
}

.hotplug-resident-mount-label
{
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon
{
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon
{
    icon-size: 16px;
}

.hotplug-resident-eject-button
{
    padding: 7px;
    border-radius: 5px;
    color: #ccc;
}

#notification StEntry
{
    padding: 4px;
    border-radius: 4px;
    color: #a8a8a8;
    selected-color: black;
    border: 1px solid rgba(245, 245, 245, 0.2);
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200, 200, 200);
    background-gradient-end: white;
    transition-duration: 300;
    caret-color: #a8a8a8;
    caret-size: 1px;
}

#notification StEntry:focus
{
    border: 1px solid #8b8b8b;
    color: #333333;
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200, 200, 200);
    background-gradient-end: white;
    caret-color: #545454;
    selection-background-color: #808080;
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/

#altTabPopup
{
    padding: 8px;
    spacing: 16px;
}

.switcher-list
{
    background-color: #2d75ad;
    background-gradient-direction: vertical;
    background-gradient-start: #2d75ad;
    background-gradient-end: #013b6b;
    border-radius: 4px;
    padding: 20px;
    border: solid 1px black;
    box-shadow: 2px solid rgba(0, 0, 0, 0.4) 2px 2px;
    color: black;
    border-image: url('tab.png') 4 4 4 4;
}

.switcher-list-item-container
{
    spacing: 8px;
}

.thumbnail-scroll-gradient-left
{
    background-color: #2d75ad;
    background-gradient-direction: vertical;
    background-gradient-start: #2d75ad;
    background-gradient-end: #013b6b;
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right
{
    background-color: #2d75ad;
    background-gradient-direction: vertical;
    background-gradient-start: #2d75ad;
    background-gradient-end: #013b6b;
    border: 1px solid #399cee;
    border-radius: 0px;
    width: 60px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.switcher-list .item-box
{
    padding: 8px;
    color: black;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
}

.switcher-list .item-box:outlined
{
    background-color: #399cee;
    border-radius: 0px;
}

.switcher-list .item-box:selected
{
    border-radius: 0px;
    border: 4px solid #379aff;
}

.switcher-list .thumbnail-box
{
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail
{
    width: 256px;
}

.switcher-list .separator
{
    width: 1px;
    background: rgba(255, 255, 255, 0.33);
}

.ripple-box
{
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(57, 156, 238, 0.8);
    background-gradient-start: rgba(0, 0, 0, 0.3);
    background-gradient-direction: radial;
    box-shadow: outset 0px 0px 5px 5px #399cee;
    border-radius: 150px;
}

.ripple-box:rtl
{
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(57, 156, 238, 0.8);
    background-gradient-start: rgba(0, 0, 0, 0.3);
    background-gradient-direction: radial;
    box-shadow: outset 0px 0px 5px 5px #399cee;
    border-radius: 150px;
}

.switcher-arrow
{
    border-color: rgba(0, 0, 0, 0);
    color: #808080;
}

.switcher-arrow:highlighted
{
    border-color: rgba(0, 0, 0, 0);
    color: white;
}

.switcher-preview-backdrop
{
    background-color: rgba(25, 25, 25, 0.95);
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/

.modal-dialog
{
    font-size: 10pt;
    border-radius: 2px;
    background-color: #2d75ad;
    border: 2px solid #013b6b;
    color: #fff;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box
{
    spacing: 21px;
}

.modal-dialog-button
{
    border-radius: 4px;
    font-size: 10pt;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 32px 5px;
}

.modal-dialog-button:hover
{}

.modal-dialog-button:active,
.modal-dialog-button:checked
{
    color: black;
    border-image: url('buttons/button-focused-pressed.png') 5;
}

.modal-dialog-button:disabled
{
    color: rgb(60, 60, 60);
}

.modal-dialog-button:focus
{
    padding: 3px 31px 4px;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-label
{
    font-size: 9pt;
    color: black;
}

.run-dialog-error-label
{
    font-size: 9pt;
    color: black;
}

.run-dialog-error-box
{
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry
{
    font-size: 10pt;
    font-weight: normal;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0;
    color: black;
    selected-color: #399cee;
    caret-color: black;
    caret-size: 2px;
    padding: 2px;
    padding-left: 6px;
    width: 18em;
}

.run-dialog-completion-box
{
    padding-left: 15px;
    font-size: 10px;
}

.run-dialog
{
    border-radius: 8px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: black;
    border-image: url('tab.png') 4 4 4 4;
}

.lightbox
{
    background-color: rgba(0, 0, 0, 0.0);
}

/* ===================================================================
 * End session dialog
 * ===================================================================*/

.end-session-dialog
{
    spacing: 42px;
}

.end-session-dialog-subject
{
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl
{
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description
{
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl
{
    padding-right: 17px;
}

.end-session-dialog-logout-icon
{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    width: 32px;
    height: 32px;
}

.end-session-dialog-shutdown-icon
{
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list
{
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl
{
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item
{
    color: #ccc;
}

.end-session-dialog-app-list-item:hover
{
    color: white;
}

.end-session-dialog-app-list-item:ltr
{
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl
{
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr
{
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl
{
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name
{
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description
{
    font-size: 8pt;
    color: #444444;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon
{
    icon-size: 48px;
}

.mount-password-reask
{
    color: red;
}

.show-processes-dialog,
.mount-question-dialog
{
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject
{
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl
{
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description
{
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl
{
    padding-right: 17px;
}

.show-processes-dialog-app-list
{
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl
{
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item
{
    color: #ccc;
}

.show-processes-dialog-app-list-item:hover
{
    color: white;
}

.show-processes-dialog-app-list-item:ltr
{
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl
{
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr
{
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl
{
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name
{
    font-size: 10pt;
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.polkit-dialog
{
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout
{
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout
{
    spacing: 16px;
}

.polkit-dialog-headline
{
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
}

.polkit-dialog-description
{
    font-size: 10pt;
    color: white;
}

.polkit-dialog-user-layout
{
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl
{
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label
{
    color: #ff0000;
}

.polkit-dialog-password-label:ltr
{
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl
{
    padding-left: 0.5em;
}

.polkit-dialog-password-entry
{
    background-gradient-start: rgb(236, 236, 236);
    background-gradient-end: white;
    background-gradient-direction: vertical;
    color: black;
    border-radius: 5px;
    border: 2px solid #555753;
}

.polkit-dialog-password-entry:focus
{
    border: 2px solid #3465a4;
}

.polkit-dialog-password-entry .capslock-warning
{
    icon-size: 16px;
    warning-color: #999;
    padding: 0 4px;
}

.polkit-dialog-error-label
{
    font-size: 10pt;
    color: #ffff00;
    padding-bottom: 8px;
}

.polkit-dialog-info-label
{
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label
{
    font-size: 10pt;
    color: rgba(0, 0, 0, 0);
    padding-bottom: 8px;
}

.network-dialog-secret-table
{
    spacing-rows: 15px;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/


.magnifier-zoom-region
{
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen
{
    border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/


#keyboard
{
    background-gradient-direction: vertical;
    background-gradient-start: #000;
    background-gradient-end: #000;

}

.keyboard-layout
{
    spacing: 10px;
    padding: 10px;
}

.keyboard-row
{
    spacing: 15px;
}

.keyboard-key
{
    min-height: 32px;
    min-width: 23px;
    background-gradient-direction: vertical;
    background-gradient-start: #5b5b5b;
    background-gradient-end: #5b5b5b;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 1px;
    border: 1px #717171;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #eaeaea;
}

.keyboard-key:grayed
{
    background-gradient-direction: vertical;
    background-gradient-start: #272727;
    background-gradient-end: #272727;
    border: 1px rgba(120, 120, 120, 1);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 1px;
}

.keyboard-key:checked,
.keyboard-key:hover
{
    background-gradient-direction: vertical;
    background-gradient-start: #399cee;
    background-gradient-end: #399cee;
    border: 1px #76d2ec;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 1px;
    color: #fff;

}

.keyboard-key:active
{
    background-gradient-direction: vertical;
    background-gradient-start: #399cee;
    background-gradient-end: #399cee;
    border: 1px #76d2ec;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 1px;
    color: #fff;

}

.keyboard-subkeys
{
    color: white;
    padding: 5px;
    -arrow-border-radius: 2px;
    -arrow-background-color: #1b1b1c;
    -arrow-border-width: 1px;
    -arrow-border-color: #399cee;
    -arrow-base: 10px;
    -arrow-rise: 5px;
    -boxpointer-gap: 5px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */

.menu-favorites-box
{
    color: #fff;
    margin: auto;
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;
    border-image: url('favs.png') 5 5 5 5;
    width: 70%;
}

.menu-background
{
    border: solid 1px transparent;
    border-image: url("menu-bg.png") 8 8 63 41;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 55px 1px 10px 1px;
}

.menu-favorites-button
{
    padding: 10px;
    border-radius: 0px;
}

.menu-favorites-button:hover
{
    background-color: #335ea8;
}

.menu-places-box
{
    margin: auto;
    padding: 8px;
    border: 0px solid #666;
}

.menu-places-button
{
    padding: 10px;
}

.menu-categories-box
{
    padding: 10px;
}

.menu-applications-box
{
    padding: 10px 0px 0px 10px;
    background-color: transparent;
    border: none;
    /*    border-image: url('favs.png') 5 5 5 5;*/
}

.menu-applications-inner-box
{
    padding: 0 5px 5px 0;
    background-color: #5373bf;
}

.menu-applications-box StScrollBar
{
    padding: 0px;
}

.menu-applications-box StScrollView
{
    border: 0px solid #305496;
    border-image: none;
    border-right-width: 0px;
}


.menu-applications-box StBin#trough
{
    background: none;
    border-width: 0px;
    box-shadow: none;
    border-image: url('trough-scrollbar-vert.png') 1;
}

.menu-applications-box StButton#vhandle
{
    border-image: url('slider-vert.png') 3;
    background: url('handle-vert.png') no-repeat center center;
}

.menu-applications-box StButton#vhandle:hover
{
    border-image: url('slider-vert-hover.png') 3;
    background: url('handle-vert.png') no-repeat center center;
}

.menu-application-button
{
    padding: 7px;
    max-width: 10px;
    color: white;
}

.menu-application-button-selected
{
    padding: 7px;
    color: white;
    background-color: #335ea8;
}

.menu-application-button-label:ltr
{
    padding-left: 5px;
}

.menu-application-button-label:rtl
{
    padding-right: 5px;
}

.menu-category-button
{
    padding: 7px;
    color: white;
}

.menu-category-button-greyed
{
    padding: 7px;
    color: #808080;
}

.menu-category-button-selected
{
    padding: 7px;
    color: white;
    background-color: #335ea8;
}

.menu-category-button-label:ltr
{
    padding-left: 5px
}

.menu-category-button-label:rtl
{
    padding-right: 5px
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/

.menu-selected-app-box
{
    padding-top: 16px;
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
    color: white;
}

.menu-selected-app-title
{
    font-weight: bold;
}

.menu-selected-app-description
{
    max-width: 150px;
}

#menu-search-entry,
#menu-search-entry:hover,
#menu-search-entry:focus
{
    padding: 5px 6px;
    color: #000;
    font: 9pt;
    height: 18px;
    width: 250px;
    selected-color: white;
    caret-color: #000;
    background-color: white;
    caret-size: 1px;
    margin-bottom: 10px;
}

.menu-search-box
{
    padding-left: 20px;
    padding-bottom: 10px;
}

.menu-search-entry-icon
{
    icon-size: 1em;
    color: #000;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu
{}

/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box
{
    spacing: 5px;
    padding-top: 3px;
}

.window-list-item-label
{
    font-weight: normal;
    width: 15em;
    min-width: 5px;
}

.window-list-item-box
{
    border-image: url('normal.png') 5;
    padding: 1px;
    margin: 5px;
    transition-duration: 100;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus
{
    border-image: url('active.png') 5;
}


.window-list-item-box:hover
{
    border-image: url('hover.png') 5;
}

.window-list-item-box:focus:hover
{
    border-image: url('active-hover.png') 5;
}

.window-list-item-demands-attention
{
    border-image: url('urgent.png');
}

/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container
{
    padding-right: 2px;
    padding-left: 2px;
    background-color: #232527;
    border: 2px solid #656565;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0px -1px 0px 0px rgba(51, 51, 51, 1);
}

.sound-button
{
    width: 26px;
    height: 20px;
    padding: 5px;
    color: #fff;
    background-color: #000;
}

.sound-button:hover
{
    background-color: #232527;
    color: #399cee;
    transition-duration: 200;
}

.sound-button:active
{
    background-color: rgba(57, 156, 238, .1);
    color: #399cee;
    transition-duration: 200;
}

.sound-button StIcon
{
    icon-size: 1em;
}

.sound-track-infos
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sound-track-info
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.sound-track-info StIcon
{
    icon-size: 1em;
}

.sound-track-info StLabel
{
    padding-left: 5px;
    padding-right: 5px;
}

.sound-track-box
{
    padding-left: 18px;
    padding-right: 18px;
    max-width: 220px;
}

.sound-volume-menu-item
{
    padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon
{
    icon-size: 1.14em;
    padding-left: 8px;
}

.sound-playback-control
{
    padding-top: 5px;
    padding-bottom: 10px;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher
{
    spacing: 2px;
    padding: 2px;
}

.workspace-button
{
    width: 20px;
    height: 10px;
    padding: 2px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #fff;
    transition-duration: 250;
}

.workspace-button:outlined
{
    padding: 2px;
    background-color: #000;
    border-radius: 0px;
    color: #399cee;
}

.workspace-button:hover
{
    padding: 2px;
    background-color: #000;
    border-radius: 0px;
    color: #399cee;
}

/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/

#panel-launchers-box
{}

.panel-launcher
{
    margin: 1px;
    padding: 3px;
}

.panel-launcher:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

.panel-launcher-add-dialog-content-box
{
    padding: 6px;
    spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left
{
    padding: 6px;
    spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right
{
    padding: 6px;
    spacing: 10px;
}

.panel-launcher-add-dialog-entry
{
    padding: 5px;
    border-radius: 4px;
    color: rgb(50, 50, 50);
    border: 1px solid rgba(245, 245, 245, 0.2);
    background-gradient-start: rgba(200, 200, 200, 0.5);
    background-gradient-end: rgba(254, 254, 254, 0.5);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover
{
    border: 1px solid rgba(120, 120, 120, 1);
    background-gradient-start: rgb(200, 200, 200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
}

.panel-launcher-add-dialog-entry:hover
{
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus
{
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner
{
    background-image: url("overview.png");
}

#overview-corner:hover
{
    background-image: url("overview-hover.png");
}

/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-separator
{
    padding: 5px 4px;
}

.applet-separator-line
{
    width: 1px;
    background: rgba(0, 0, 0, 0.5);
}

.applet-box
{
    padding-left: 6px;
    padding-right: 6px;
    transition-duration: 300;
}

.applet-box:hover
{
    background-color: rgba(25, 25, 25, 0.2);
    color: white;
    transition-duration: 100;
}

.applet-box:active
{
    background-color: rgba(25, 25, 25, 0.4);
    color: white;
    transition-duration: 100;

}

.applet-label:not(:first-child)
{
    font-weight: normal;
}

#panelRight .applet-label
{
    color: white;
    font-weight: bold;
    text-shadow: #000000;
}

.applet-label:hover,
.applet-box:hover>.applet-label
{
    color: white;
}

.applet-icon
{
    icon-size: 1.3em;
}

.applet-icon:hover,
.applet-box:hover>.applet-icon
{}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/
/* When switching workspaces*/

.workspace-osd
{
    color: #fff;
    font-size: 25pt;
    text-align: center;
    background: #013b6b;
    border: 2px solid #399cee;
    border-radius: 4px;
    padding: 0.5em 1em;
}

.expo-workspaces-name-entry
{
    padding: 5px;
    padding-bottom: 7px;
    color: gray;
    border: 1px solid gray;
    background-color: white;
    selected-color: black;
    caret-color: black;
    caret-size: 1px;
    height: 16px;
    text-align: center;
}

.expo-workspaces-name-entry#selected
{
    background-color: #f1f1f1;
    padding: 5px;
    padding-bottom: 7px;
    border: 1px solid #399cee;
    text-align: center;
    height: 16px;
}

.expo-workspaces-name-entry:focus
{
    padding: 5px;
    padding-bottom: 7px;
    color: black;
    transition-duration: 300;
    text-align: center;
}

/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding
{
    padding: .5em 1em;
}

.notification-applet-container
{
    max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer
{
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin
{
    width: 24px;
    height: 18px;
    background-image: url("checkbox-off.png");
}

.check-box:focus StBin
{
    background-image: url("checkbox-off-focus.png");
}

.check-box:checked StBin
{
    background-image: url("checkbox.png");
}

.check-box:focus:checked StBin
{
    background-image: url("checkbox-focus.png");
}

.check-box StLabel
{
    font-weight: normal;
}

.radiobutton CinnamonGenericContainer
{
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin
{
    width: 22px;
    height: 22px;
    background-image: url("radio-unselected.png");
    border-radius: 15px;
}

.radiobutton:focus StBin
{
    background-image: url("radio-unselected.png");
}

.radiobutton:checked StBin
{
    background-image: url("radio-selected.png");
}

.radiobutton:focus:checked StBin
{
    background-image: url("radio-selected.png");
}

.radiobutton StLabel
{
    padding-top: 4px;
    font-size: 0.9em;
    box-shadow: none;
}

.flashspot
{
    background-color: white;
}

/* ===================================================================
 * Network Data Usage Monitor applet
 * ===================================================================*/

/* These settings govern the width of the Applet and the space taken by the font.*/

.numa-left
{
    text-align: center;
    min-width: 75px;
    font-weight: bold;
    /*font-size: 95%;*/
}

.numa-right
{
    text-align: center;
    min-width: 1px;
    font-weight: bold;
    /*font-size: 95%;*/
}

/* The following are the styles for the Applet backgrounds - names are self explanitory 
The colour parameters are red, green, blue, and transparency or a name */

.numa-not-connected
{
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
}

.numa-connected
{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.numa-alert
{
    color: #fff;
    border-top: 3px;
    border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57, 156, 238, 0.1);
    background-gradient-start: rgba(57, 156, 238, 0.1);
    border-radius: 0px;
}

.numa-limit-exceeded
{
    color: #fff;
    border-top: 3px;
    border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57, 156, 238, 0.1);
    background-gradient-start: rgba(57, 156, 238, 0.1);
    border-radius: 0px;
}

/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/

.snap-osd
{
    font-size: 18pt;
    border-radius: 24px;
    background-color: rgba(55, 55, 55, 0.9);
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

/* ===================================================================
 * CinnXPStarkMenu 
 * (if CinnXPStarkMenu is used, change some stuff, else use default)
 * ===================================================================*/
.right-buttons-box
{
    background-color: #5373bf;
    padding: 8px;
}

.starkmenu-background
{
    border: solid 1px transparent;
    border-image: url("menu-bg.png") 8 8 56 41;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 50px 1px 29px 1px;
}

.starkmenu-selected-app-box
{
    color: white;
    /* Information, which is shown, if you select apps*/
}

.starkmenu-favorites-box
{
    background-color: #10377c;
    border: 0px solid #10377c;
}

.starkmenu-applications-box
{
    padding: 0px 0px 0px 0px;
}

.starkmenu-applications-inner-box
{
    background-color: #5373bf;
}

.starkmenu-applications-box StScrollView
{
    background-color: #10377c;
    color: white;
}

.starkmenu-search-box
{
    padding-bottom: 5px;
}

.hover-user-icon
{
    border-radius: 4px;
    border: 2px solid #f1f1f1;
}